.App {
  text-align: center;
  display: grid;
  min-width: 800px;

  
}
.img {
  display: stretch;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


/* ~~~~~~~~~~~NAV */
.App-nav {
  
  background-color: darkgreen;
  nav-index: auto;
  letter-spacing: normal;
  font-size: calc(10px + 2vmin);
  background-image: linear-gradient(rgb(238, 79, 203), rgb(247, 88, 88));
  color:aliceblue;
  /* background: black; */
  top: 0;
  width: 100%;
  transition:all 3.5s;
  position: relative;
  z-index: 1;
  
  
}

.App-nav li {
  flex: 1;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: left;
}






/* ~~~~~~~~~~~Brand logo I guess */
.App-header {
  background-color: #ff944d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: linear-gradient(green, orange);
  width: 100%;
  transition:all 3s;
  position: relative;
  z-index: 1;

}

.App-header img {
  display: flex;
  /* min-width: calc(200px + 1vmin); */
  max-width: calc(800px + 8vmax);
  transition:all 1s;
  position: relative;
  z-index: 2;
  /* background: linear-gradient(to left, transparent, mistyrose),url(../src/data/pickleprechaunnowriting.png) */
}

/* ~~~~~~~~~~~~~~~~~~NFT content */
.App-main {
  background-color: purple;
  font-size: calc(10px + 2vmin);
  color:orange;
  background-image: linear-gradient(purple, yellow);
}



/* ~~~~~~~~~~~~~~~~~~footah */
.App-footer {
  background-image: linear-gradient( rgb(247, 88, 88),rgb(238, 79, 203));

  font-size: calc(10px + 2vmin);
  color:chartreuse;
}
/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
